---
layout: layouts/base.njk
title: Welcome
---

{% block title %}Welcome to NinjaAid{% endblock %}

{% block content %}
<div>
    <h1>Welcome to NinjaAid</h1>
    <p>This site offers a collection of practical and easy-to-use JavaScript tools for various tasks. Explore our tools and streamline your workflow today!</p>
</div>
{% endblock %}
